<launch>
    <!-- 使用实际的时间 -->
    <param name="/use_sim_time" value="false" />

    <!-- Cartographer Node -->
    <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" output="screen" args="-configuration_directory /home/jetson/amr_ws/amr_launcher/config
              -configuration_basename amr_slam_cartographer.lua">
        <!-- Remap topics to match your laser scan topic -->
        <remap from="scan" to="rplidar_scan" />
    </node>

    <!-- Occupancy Grid Node -->
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

    <!-- RViz for visualization -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
</launch>
