<launch>
    <!-- 载入真实机器人和传感器参数 -->
    <!-- RPLiDAR 节点 -->
    <node name="rplidar_node" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate" type="int" value="1000000"/>
        <param name="frame_id" type="string" value="laser"/>
        <param name="inverted" type="bool" value="false"/>
        <param name="angle_compensate" type="bool" value="true"/>
        <param name="scan_frequency" type="double" value="10.0"/>
    </node>

    <!-- IMU 节点 -->

    <!-- 里程计节点 -->

    <!-- Gmapping SLAM -->
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
        <!-- <param name="maxUrange" value="3.0"/> -->
        <param name="map_update_interval" value="0.5"/>
        <!-- <param name="linearUpdate" value="0.1"/> -->
    </node>

    <!-- RViz 显示 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_slam)/config/rviz/slam.rviz"/>

    <!-- 运动控制 -->
    <node name="amr_controller_node" pkg="amr_controller" type="amr_controller_node"/>

</launch>